/config
/downloader
/images
/includes
/media
/pkginfo
/sitemaps
/staging
/var
.idea/*
.idea
.modman/*
app/etc/local.xml
app/etc/enterprise.xml
errors/local.xml
*.*~
*.sql
*.swp
*.tar
*.tar.gz
.DS_Store
.htaccess
error_log
php.ini
/.svn
.svn/*
.svn
REVISION
/blog
/buzz
*.scssc
*.sassc
*.pngc
skin/frontend/enterprise/redstage/css/app.css
skin/frontend/enterprise/redstage/images/sprites/*
LICENSE_ColorAll.txt
LICENSE_CatalogColors.txt
